<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Hours</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1> Balance Tracker </h1>
    <!-- your form request will align with the post request! -->
    <form action="/addExpenses" method="POST">
        <input type="text" placeholder="description" name="description"/>
        <input type="number" placeholder="enter $$$ amount" name="expense"/>
        <button type="submit">Submit Expense</button>
    </form>
    
    <div class="tempContainer">
        <ul class="expenses">
          <!-- Loop through expenses -->
          <% for(var i = 0; i < expenses.length; i++) {%>
          <li class="expense">
            <!-- Output name from the iterated quote object -->
            <span><%= expenses[i].description %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= expenses[i].expense %></span>
            <button class="delete-button"> Delete </button>
          </li>
          <% } %>
        </ul>    
    </div>

    <script src="/main.js" > </script>
    
</body>
</html>