body{
    color: #333333;
    background: #F4F8FD;
    font-family: 'Inter', sans-serif;
    /* padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr; */
}

header{
    border: 1px solid rgb(170, 170, 170);
    margin-bottom: 1%;
    height: 100px;
}
h1{
    color: #333;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}
.formContainer{
    background-color: #F4F8FD;
    border-radius: 12px;
    border: 1px solid rgb(170, 170, 170);
    padding-left: 10%;
    padding-right: 10%;
}
h3{
    font-size: 1.5rem;
    width: 45%;
    margin: 1% 0;
}

.ulContainer{
    width: 100%;
    /* border: 1px solid rgb(0, 255, 0); */
}

.transactionsContainer{
    background-color: #F4F8FD;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 15px;
    text-align: center;
}
form{
    margin-top: 2%;
}
form > input{
    width: 70%;
    height: 25px;
    text-align: center;
}
form > div{
    width: 70%;
    /* border: 1px solid black; */
}
form > div button, 
form > div select{
    height: 50px;
}

form > label{
    display: block;
    width: 70%;
}
.calendarContainer{
    border: 1px solid rgb(170, 170, 170);
    border-radius: 15px;
    background-color: #F4F8FD;
    margin-left: auto;
    margin-right: auto;
}
.liTransactions{
    margin-top: 2%;
    list-style: none;
    border-bottom: 1px solid rgb(170, 170, 170);;
}
.income{
    color: #006e00;
}
.expense{
    color: red;
}
.editable-amount:hover{

    background-color: #c1e4f8;
}