body{
    color: #333333;
    background: lightblue;
    /* padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr; */
}

header{
    border: 1px solid rgb(255, 182, 47);
    height: 100px;
}
h1{
    color: #333;
    border-left: 4px solid rgb(0, 0, 0);
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5%;
}
.formContainer{
    background-color: #FFFFFF;
    border-radius: 12px;
    padding-left: 10%;
}
h3{
    font-size: 1.5rem;
    width: 45%;
    margin: 1% 0;
}

.ulContainer{
    width: 100%;
    border: 1px solid black;
}

.transactionsContainer{
    border: 2px solid red;
    text-align: center;
}
form{
    margin-top: 2%;
}
form > input{
    width: 70%;
    height: 25px;
    text-align: center;
}
form > div{
    width: 70%;
    /* border: 1px solid black; */
}
form > div button, 
form > div select{
    width: 100%;
    height: 40px;
}
form > button{
    width: 100%;
}
form > label{
    display: block;
    width: 70%;
}
.itemsMatrix{
    border: 1px solid blue;
    width: 25%;
    display: inline-block;
    font-size: 1.2rem;
}
.transactions{
    list-style: none;
}
.income{
    color: #006e00;
}
.expense{
    color: red;
}