header{
    border: 1px solid greenyellow;
    height: 75px;
}
h1{
    color: #333;
    border-left: 4px solid rgb(0, 0, 0);
    width: 20%;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}
h3{
    font-size: 1.5rem;
    width: 45%;
    margin: 1% 0;
}
body{
    background: lightblue;
}
.ulContainer{
    width: 45%;
    border: 1px solid black;
}
form,
.tempContainer{
    border: 2px solid red;
    text-align: center;
    margin-top: 1%;
    
}
form{
    margin-left: 25%;
    width: 50%;
}
form > input{
    width: 50%;
    height: 25px;
}
form > button{
    width: 51%;
    
}
.itemsMatrix{
    border: 1px solid blue;
    width: 25%;
    display: inline-block;
    font-size: 1.2rem;
}
.transactions{
    list-style: none;
}
.income{
    color: #006e00;
}
.expense{
    color: red;
}